/*  ▼▼▼  ここから  ▼▼▼  */
@charset "UTF-8";
@import "https://fonts.googleapis.com/earlyaccess/notosansjapanese.css";


* {
  box-sizing: border-box;
}

a{
  color: #666;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
}

.drawer_header {
  display: block;
  padding: -10px;
}

nav.top-nav {
margin: 0 auto;
display: block;
z-index: 1000;
padding: 5px;
width: 100%;
top: 0;
}

ul.top-menu {
display: flex;
width: 100%;
}

li {
margin: 0 auto;
display: flex;
flex-direction: row;
z-index: -1;
font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
letter-spacing: 1px;
font-size: 18px;
font-weight: bold;
}

li.top-menu-item {
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}

#top-brand {
margin: 0 auto;
font-size: 29.124px;
display: flex;
justify-content: center;
align-items: center;
}

img.resizeimage {
  width: 100%;
}

/* .viewer
------------------------- */
.viewer {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.viewer ul {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.viewer ul li {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
}
.viewer ul li img {
    width: 100%;
}

/* sideNavi
------------------------- */
.viewer .btnPrev,
.viewer .btnNext {
    margin-top: -25px;
    top: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 101;
}
.viewer .btnPrev {
    left: 10px;
}
.viewer .btnNext {
    right: 10px;
}


/* =======================================
    ClearFixElements
======================================= */
.viewer ul:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

.viewer ul {
    display: inline-block;
    overflow: hidden;
}

p {
  font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  }

 blockquote {
   font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
   font-size: 21px;
   font-style: normal;
   font-variant: normal;
   font-weight: 400;
   line-height: 30px;
   }

 pre {
   font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
   font-size: 13px;
   font-style: normal;
   font-variant: normal;
   font-weight: 400;
   line-height: 18.5714px;
  }

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1 0 auto;
}

li a:hover {
  text-decoration: none;
  opacity: 0.4;
}

.wrap_01 {
  margin: 0 auto;
  width: 100%;

}

.wrap_02 {
  padding-top: 60px;
  display: flex;
}

.box_a {
  padding-top: 60px;
  padding-left: 60px;
}

.box_b {
  padding-top: 60px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

footer {
  color: #000;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* =======================================
    BreakPoint MediaQuery
======================================= */

/* =======================================
    PC over 960px =  top_header on
======================================= */


/* =======================================
    under 960px =  top_header off
======================================= */

@media all and (max-width: 959px) {
 .top_header {
  display: none;
}

/*　size undet　320pxy
@media all and (max-width: 319px) {
  .container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: auto;
  }

  .top_header {
    display: none;
  }

  .drawer_header {
    display: flex;
  }

  ul {
    width: 100vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: inline-block;
}

  li.header_nav  {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  button.drawer-toggle {
  height:50px;
  }
  .drawer-default li a {
  display: block;
  }

  .drawer-hamburger {
    width: 2em;
  }

  .drawer-hamburger-icon,
  .drawer-hamburger-icon:after,
  .drawer-hamburger-icon:before {
    background-color: #999;
  }

  .drawer-nav {
      background: #fff;
      opacity: 0.8;
  }


  img.resizeimage {
    width: 100vw;
  }
}

.wrap_02 {
  margin-left: 0;
  width: 100%;
  flex-direction: column;
}

/*　size 320〜559px
@media all and (max-width: 559px) {
  .container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: auto;
    font-size: 35%;
  }

  .top_header {
    display: none;
  }

  .drawer_header {
    display: flex;
  }

  ul {
    width: 100vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: inline-block;
}

  li.header_nav  {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  button.drawer-toggle {
  height:50px;
  }
  .drawer-default li a {
  display: block;
  }

  .drawer-hamburger {
    width: 2em;
  }

  .drawer-hamburger-icon,
  .drawer-hamburger-icon:after,
  .drawer-hamburger-icon:before {
    background-color: #999;
  }

  .drawer-nav {
      background: #fff;
      opacity: 0.8;
  }

   img.resizeimage {
    width: 100vw;
  }
}

.wrap_02 {
  margin-left: 0;
  width: 100%;
  flex-direction: column;

/*　size 560〜959px
@media all and (max-width: 959px) {
 .container {
   display: flex;
   flex-direction: column;
   flex: 1 0 auto;
   height: auto;
 }

 .top_header {
   display: none;
 }

 .drawer_header {
   display: flex;
 }

 ul {
   width: 100vw;
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: #ffffff;
   display: inline-block;
}

 li.header_nav  {
   margin: 0;
   padding: 0;
   flex-direction: column;
 }

 button.drawer-toggle {
 height:50px;
 }
 .drawer-default li a {
 display: block;
 }

 .drawer-hamburger {
   width: 2em;
 }

 .drawer-hamburger-icon,
 .drawer-hamburger-icon:after,
 .drawer-hamburger-icon:before {
   background-color: #999;
 }

 .drawer-nav {
     background: #fff;
     opacity: 0.8;
 }

 img.resizeimage {
   width: 100vw;
}

.wrap_02 {
  margin-left: 0;
  width: 100%;
  flex-direction: column;
}
======================================= */
