@charset "UTF-8";
@import "https://fonts.googleapis.com/earlyaccess/notosansjapanese.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Meiryo, Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

a {
  text-decoration: none;
}

.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
  text-align: center
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 600px;
  padding: 30px 30px 15px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle
}

.modal-wrapper .modal-window .modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .7)
}

.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c!important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0
}

.modal-wrapper .modal-close:hover {
  color: #2b2e38!important
}

.container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(../images/top.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}

.drawer-menu {
  display: block;
  position: flex;
  flex-direction: column;
}

button.drawer-toggle {
 height: 10px;
}

li a{
  margin: 0 auto;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 5%;
  color: #333;
}

a:hover{
  opacity: 0.5;
}

#country {
  margin: 0;
  padding: 10px;
  font-weight: bold;
  background-color: #9DFF00;
  border-radius: 5px;
  line-height: 2em;
}

#country:hover {
  opacity: 0.8;
}


.drawer-hamburger {
  width: 2.5em;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
  background-color: #999;
}

.drawer-nav {
    font-family: 'Work Sans', Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
    background: #fff;
    width: 180px;
    opacity: 0.8;
}

.drawer--left.drawer-open .drawer-hamburger {
    left: 175px;
}

.fa {
  margin-right: 5px;
}

.content-wrapper {
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
  height: auto;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  color: #666;
  font-weight: bold;
}

.content {
  margin:0 auto;
  padding-bottom: 10px;
  overflow:hidden;
  cursor:pointer;
  float: left;
  height: auto;
  width: 25%;
}

.content-icon img {
  position: relative;
  border-radius: 10px;
  ransition-duration: 0.5s;
  text-align: center;
}

.content-icon:hover img {
  opacity: 0.7;
  toransition-duration: 0.5s;
}

.content p {
  color: #666;
  font-size: 15px;
  font-weight: bold;
  padding-top: 15px;
}

p.text-contents {
  width: 55%;
  font-weight: normal;
  display:inline-block;
  margin-top: auto;
  font-size: 13px;
  color: #999;
}

.content-photo img {
  border-radius: 10px;
  ransition-duration: 0.5s;
  text-align: center;
  height: 240px;
  width: 240px;
  object-fit: cover;
}

.content-movie {
  border-radius: 10px;
  ransition-duration:0.5s;
  text-align: center;
  height: 500px;
  width: auto;
  object-fit: cover;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.clear {
  clear: left;
}

footer p {
  color: #ffffff; /*#b3aeb5*/
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #000000;
  text-align: center;
}

@media all and (max-width: 1000px) {
  .content {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
    padding: 0;
  }

  .content-wrapper {
    height: auto;
  }

}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .content {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
    padding: 0;
  }

  .clear {
    clear:left;
  }

  .content-wrapper {
  height: auto;
  }

}

@media all and (max-width: 670px) {
  nav ul {
  	display: flex;
  	flex-flow: row;
  	margin 0;
    padding: 0;
  	list-style-type: none;
  }

 .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }
  .clear {
    clear:left;
  }

  .content-wrapper {
    height: auto;
  }

  .content {
    width: 100%;
  }

}
