@charset "UTF-8";
@import "https://fonts.googleapis.com/earlyaccess/notosansjapanese.css";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;
}

button.drawer-toggle {
height:50px;
}
.drawer-default li a {
display: block;
}

.drawer-hamburger {
  width: 2em;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
  background-color: #999;
}

.drawer-nav {
    background: #fff;
    width: 180px;
    opacity: 0.9;
}

.resizeimage {
width: 100%;
height: auto;
}

a.hover {
  opacity: 0.4;
}


h1 {
 font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
 font-size: 47.123x;
 font-style: normal;
 font-variant: normal;
 font-weight: 800;
 line-height: 47.123px;
}

h2 {
 font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
 font-size: 29.124px;
 font-style: normal;
 font-variant: normal;
 font-weight: 700;
 line-height: 29.124px;
}

 h3 {
 font-family: "メイリオ","Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 18px;
}

  p {
   font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
   font-size: 18px;
   font-style: normal;
   font-variant: normal;
   font-weight: 400;
   line-height: 18px;
 }


  pre {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18px;
}

li {
margin-bottom: 10px;
padding: 8px 0 8px 8px;
font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
font-size: 29.124px;
font-weight: bold;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0px;
  background-image: url(../images/top.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 47.123px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.9;
  font-size: 18px;
  margin-bottom: 40px;
}

/*
.btn {
  margin:0 auto;
  color: white;
  display: inline-block;
  background-color: rgba(34,49,52,0.5);
  padding: 15px 10px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}
*/

.fa {
  margin-right: 8px;
  margin-left: 5px;
}

/* 旧横型ナビのコード
header {
  height: 55px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height: 45px;
  margin-top: 5px;
  z-index: 10;
}

.header-right {
  float: right;
}

nav {
  background-color: rgba(34,49,52,0.7);
	color: white;
}

nav ul {
	display: flex;
	flex-flow: row;
	margin: 0 auto;
	list-style-type: none;
}

nav a {
	display: block;
	color: white;
  float: left;
  transition: all 0.5s;
	text-decoration: none;
}

nav li a:hover {
  opacity: 1;
  color: white;
  background-color: rgba(255,255,255,0.3);
}

*/

.content-wrapper {
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
  height: auto;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}


.content {
  margin:0 auto;
  padding-bottom: 10px;
  overflow:hidden;
  cursor:pointer;
  float: left;
  height: auto;
  width: 25%;
}

.content-icon img {
  position: relative;
  border-radius: 10px;
  ransition-duration:0.5s;
  text-align: center;
}

.content-icon:hover img {
  opacity:0.7;
  toransition-duration:0.5s;
}

.content-icon p {
  color: #666;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 15px;
}

.text-contents {
  width: 65%;
  display:inline-block;
  margin-top: auto;
  font-size: 13px;
  color: #b3aeb5;
}

.content-photo img {
  border-radius: 10px;
  ransition-duration:0.5s;
  text-align: center;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.content-movie {
  border-radius: 10px;
  ransition-duration:0.5s;
  text-align: center;
  height: 500px;
  width: auto;
  object-fit: cover;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.clear {
  clear: left;
}

footer p {
  color: #ffffff; /*#b3aeb5*/
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #000000;
  text-align: center;
}

@media all and (max-width: 1000px) {
  .content {
    width: 50%;
    margin-bottom: 50px;
  }

  .content-wrapper {
    height: auto;
  }

}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .content-wrapper {
  height: auto;
  }

}

@media all and (max-width: 670px) {

 .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .clear {
    clear:left;
  }

  .content-wrapper {
    height: auto;
  }

  .content {
    width: 100%;
  }

}
