@charset "UTF-8";
@import "https://fonts.googleapis.com/earlyaccess/notosansjapanese.css";


* {
  box-sizing: border-box;
}

a{
  color: #666;
  text-decoration: none;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1600px;
}

#slide {
width: 1600px;
height: 710px;
margin:0 auto;
position: relative;
}

#slide img {
position:absolute;
left: 0;
top:0;
}

.drawer_header {
 display: flex;
}

ul.drawer-menu {
  display: flex;
  flex-direction: column;
}

ul {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

button.drawer-toggle {
height: 10px;
}

.drawer-default li a {
 display: absolute;
}

.drawer-hamburger {
  width: 2em;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
  background-color: #999;
}

.drawer-nav {
    background: #fff;
    width: 180px;
    opacity: 0.9;
}

li {
margin: 0 auto;
display: flex;
flex-direction: row;
font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
letter-spacing: 1px;
font-size: 18px;
font-weight: bold;
}

li.top-menu-item {
margin: 0 auto;
display: flex;
}

#top-brand {
font-size: 29.124px;
}

.drawer_header {
  display: none;
}

.viewer {
  positon: relative;
}

img.resizeimage {
  width: 100%;
}

img.bottom {
  padding-top: 40px;
  padding-bottom: 10px;
}

p {
  font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  }

 blockquote {
   font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
   font-size: 21px;
   font-style: normal;
   font-variant: normal;
   font-weight: 400;
   line-height: 30px;
   }

 pre {
   font-family: "Bodoni MT", "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
   font-size: 13px;
   font-style: normal;
   font-variant: normal;
   font-weight: 400;
   line-height: 18.5714px;
  }

.container {
  margin: 0 auto;
  width: 100%;
}

li a:hover {
  text-decoration: none;
  opacity: 0.4;
}

.wrap_01 {
  width: 100%;

}

.wrap_02 {
  padding-top: 60px;
  display: flex;
}

.box_a {
  padding-top: 60px;
  padding-left: 60px;
}

.box_b {
  padding-top: 60px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

footer {
  color: #000;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* =======================================
    BreakPoint
======================================= */

/* =======================================
    under 960px =  top_header on
======================================= */

/* =======================================
    under 750px =  top_header off
======================================= */

@media all and (max-width: 959px) {
 .top_header {
  display: none;
}

.drawer_header {
  display: block;
  z-index: 2000;
}

.wrap_02 {
  padding-top: 60px;
  display: flex;display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box_a {
  margin: 0 auto;
  width: 85%;

}

.box_b {
  margin-left:-200px;
  padding-top: 20px;
  width: 50%;
}
