* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(../images/top.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}

.drawer-menu {
  display: block;
  position: flex;
  flex-direction: column;
}

button.drawer-toggle {
 height: 10px;
}

li a{
  font-weight: bold;
  color: #333;
}
.drawer-default li a {
  display: absolute;

}

.drawer-hamburger {
  width: 2.5em;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
  background-color: #999;
}

.drawer-nav {
    font-family: 'Work Sans', Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
    background: #fff;
    width: 250px;
    opacity: 0.8;
}

.btn {
  margin:0 auto;
  color: white;
  display: inline-block;
  background-color: rgba(34,49,52,0.9);
  padding: 10px 20px;;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.content-wrapper {
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
  height: auto;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.content {
  margin:0 auto;
  padding-bottom: 10px;
  overflow:hidden;
  cursor:pointer;
  float: left;
  height: auto;
  width: 25%;
}

.content-icon img {
  position: relative;
  border-radius: 10px;
  ransition-duration: 0.5s;
  text-align: center;
}

.content-icon:hover img {
  opacity: 0.7;
  toransition-duration: 0.5s;
}

.content-icon p {
  color: #666;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 15px;
}

.text-contents {
  width: 65%;
  display:inline-block;
  margin-top: auto;
  font-size: 13px;
  color: #b3aeb5;
}

.content-photo img {
  border-radius: 10px;
  ransition-duration:0.5s;
  text-align: center;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.content-movie {
  border-radius: 10px;
  ransition-duration:0.5s;
  text-align: center;
  height: 500px;
  width: auto;
  object-fit: cover;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.clear {
  clear: left;
}

footer p {
  color: #ffffff; /*#b3aeb5*/
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #000000;
  text-align: center;
}

@media all and (max-width: 1000px) {
  .content {
    width: 50%;
    margin-bottom: 50px;
  }

  .content-wrapper {
    height: auto;
  }

}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .content-wrapper {
  height: auto;
  }

}

@media all and (max-width: 670px) {
  nav ul {
  	display: flex;
  	flex-flow: row;
  	margin 0;
    padding: 0;
  	list-style-type: none;
  }

 .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .clear {
    clear:left;
  }

  .content-wrapper {
    height: auto;
  }

  .content {
    width: 100%;
  }

}
