@charset "UTF-8";
@import "https://fonts.googleapis.com/earlyaccess/notosansjapanese.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Work Sans', Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

ul {
 list-style: none;
}

.mom_layer{
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: 5%;
  opacity: 0.8;
}

.kids_layer{
  margin: 0 auto;
  position: relative;
  background-color: #9DFF00;
  width: 45%;
  border-radius: 10px;
  padding: 5%;
  z-index: 1;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(30, 22, 54, 0.4);
  cursor: pointer;
}


/*[#FF69AF] 255, 105, 175*/
/*[#9DFF00] 157, 255, 0*/
/*[#5729CE] 87, 41, 206*/
