@charset "UTF-8";
@import "https://fonts.googleapis.com/earlyaccess/notosansjapanese.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

header {
  height: 90px;
  width: 100%;
  position :fixed;
  background-color: #FFF;
  top: 0;
  z-index: 10;
}

.header_nav {
  float:left;
}

.wrap_00 {
  width: 100%;
  margin: 0 auto;
}

.wrap_01 {
  width:100%;
}

.wrap_02 {
  margin :120px 228px ;
  flex-direction: row;
}

.box_a {
width: 45%;
}

.box_b {
width: 35%;
}

footter {
  width: 100%;
  text-align: center;
}

/*　ブレイクポイント設定 　*/

/*　画面サイズ：1000～750px　*/
@media all and (max-width: 1000px) {

 /*　画面サイズ：750～670px　*/
@media all and (max-width: 750px) {

/*　画面サイズ：670px以下　*/
@media all and (max-width: 670px) {
