@charset "UTF-8";
@import "https://fonts.googleapis.com/earlyaccess/notosansjapanese.css";

* {
  box-sizing: border-box;
}

a{
  color: #000;
  text-decoration: none;
}

body {
  width: 80px;
}

p {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  }

 blockquote {
   font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
   font-size: 21px;
   font-style: normal;
   font-variant: normal;
   font-weight: 400;
   line-height: 30px;
   }

 pre {
   font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
   font-size: 13px;
   font-style: normal;
   font-variant: normal;
   font-weight: 400;
   line-height: 18.5714px;
  }

.container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

.header_nav {
  width: 100%;
  float:left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li.header_nav {
  display: inline;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

li.header_nav_logo {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 25.5px;
  }

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #999999;
}

.logo {
  z-index: 10;
  text-align: center;
}

.wrap_01 {
  width:100%;
  margin-left: 0;
}

.wrap_02 {
  padding-top: 120px ;
  float: left;
}

.box_a {
width: 33.3333%;
}

.box_b {
width: 33.3333%;
display: flex;
}
}

footer {
  width: 100%;
  text-align: center;
}

/*　ブレイクポイント設定 　*/
/*　PC　960px以上　*/

 /*　タブレット　560〜959px　*/
@media all and (max-width: 959px) {
  .wrap_00 {
    width: 50%;
    font-size: 50%;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .content-wrapper {
    height: auto;
  }
}

/*　スマホ　320〜559px　*/
@media all and (max-width: 559px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .content-wrapper {
  height: auto;
  }

}

/*　スマホ　未満　*/
@media all and (max-width: 319px) {
  font-size:40%;

}
