/*  ▼▼▼  ここから基準値  ▼▼▼  */
@charset "UTF-8";
@import "https://fonts.googleapis.com/earlyaccess/notosansjapanese.css";

* {
  box-sizing: border-box;
}

a{
  color: #000;
  text-decoration: none;
}

body {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*  ▲▲▲  ここまで基準値  ▲▲▲  */

p {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  }

 blockquote {
   font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
   font-size: 21px;
   font-style: normal;
   font-variant: normal;
   font-weight: 400;
   line-height: 30px;
   }

 pre {
   font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
   font-size: 13px;
   font-style: normal;
   font-variant: normal;
   font-weight: 400;
   line-height: 18.5714px;
  }

ul {
  width: 1200px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li.header_nav {
  display: inline;
  display: -webkit-flex; /* 縦方向中央揃え（Safari用） */
  display: flex; /* 縦方向中央揃え */
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */

  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 17.33px;
}

li.header_nav_logo {
  margin-top: 35px;
  justify-content: center;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 25.5px;
  }

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #999999;
}

.logo {
  z-index: 10;
  text-align: center;
}

.wrap_01 {
  width:100%;
  margin-left: 0;
}

.wrap_02 {
  padding-top: 120px ;
  display: flex;
}

.box_a {
 display: flex;
 flex-direction: column;
}

.box_b {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
}
}

footer {
  width: 100%;
  text-align: center;
}

/*  ▼▼▼  ここからブレイクポイント設定  ▼▼▼  */
/*　PC　960px以上　*/

 /*　タブレット　560〜959px　*/
@media all and (max-width: 959px) {
  .wrap_00 {
    width: 50%;
    font-size: 50%;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .content-wrapper {
    height: auto;
  }
}

/*　スマホ　320〜559px　*/
@media all and (max-width: 559px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .content-wrapper {
  height: auto;
  }

}

/*　スマホ画面サイズ　未満　*/
@media all and (max-width: 319px) {
  font-size:40%;
}
/*  ▲▲▲  ここまでブレイクポイント設定  ▲▲▲  */
