* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  margin:0 auto;
  color: white;
  display: inline-block;
  background-color: rgba(34,49,52,0.9);
  text-align: center;
}

.home {
  padding: 15px 30px;
  background-color: #333333; /*#91a7ff*/
}

.photo {
  padding: 15px 30px;
  background-color: #333333; /*#91a7ff*/
}

.facebook {
  padding: 15px 30px;
  background-color: #333333; /*#3b5998*/
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 60px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height: 50px;
  margin-top: 5px;
  z-index: 10;
}

.header-right {
  float: right;
}

.header-right a {
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  color: white;
  background-color: rgba(255,255,255,0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.content-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
  height: auto;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-size: 24pt;
  font-weight: bold;
}

.content {
  margin:0 auto;
  overflow:hidden;
  cursor:pointer;
  float: left;
  width: 25%;
  object-fit: cover;
}

.content-icon img {
  position: relative;
  border-radius: 10px;
  ransition-duration:0.5s;
  text-align: center;
  height: 315px;
  width: 315px;
  object-fit: cover;
}

.content-icon:hover img {
  opacity:0.7;
  toransition-duration:0.5s;
}

.content-icon p {
  color: #666;
  font-size: 15px;
  font-weight: bold;
}

.text-contents {
  width: 75%;
  display:inline-block;
  margin-top: 10px;
  font-size: 13px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.clear {
  clear: left;
}

footer p {
  color: #ffffff; /*#b3aeb5*/
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #000000;
  text-align: center;
}

@media all and (max-width: 1000px) {
  .content {
    width: 50%;
    margin-bottom: 50px;
  }

  .content-wrapper {
    height: 990px;
  }

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-trigger {
    display: block;
  }

  .facebook {
    margin-top: 10px;
  }

  .photo {
    margin-top: 10px;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .clear {
    clear:left;
  }
  .content-wrapper {
    height:auto;
  }

  .content {
    width: 100%;
  }
