* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(../images/top.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}

.btn {
  margin:0 auto;
  color: white;
  display: inline-block;
  background-color: rgba(34,49,52,0.9);
  text-align: center;
}

.home {
  padding: 10px 30px;
  background-color: #333333;
}

.photo {
  padding: 10px 30px;
  background-color: #333333;
}

.movie {
  padding: 10px 30px;
  background-color: #333333;
}

.facebook {
  padding: 10px 30px;
  background-color: #333333; /*#3b5998*/
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 50px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  height: 40px;
  margin-top: 5px;
  z-index: 10;
}

.header-right {
  float: right;
}

nav {
  background-color: rgba(34,49,52,0.9);
	color: white;
}
nav ul {
	display: flex;
	flex-flow: row;
	margin: 0;
	list-style-type: none;
}

nav a {
	display: block;
	color: white;
  float: left;
  transition: all 0.5s;
	text-decoration: none;
}
nav li a:hover {
  opacity: 1;
  color: white;
  background-color: rgba(255,255,255,0.3);
}

.content-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
  height: auto;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.content {
  margin:0 auto;
  padding-bottom: 10px;
  overflow:hidden;
  cursor:pointer;
  float: left;
  height: 100%;
  width: 25%;
}

.content-icon img {
  position: relative;
  border-radius: 10px;
  ransition-duration:0.5s;
  text-align: center;
}


.content-icon:hover img {
  opacity:0.7;
  toransition-duration:0.5s;
}

.content-icon p {
  color: #666;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 15px;
}

.text-contents {
  width: 75%;
  display:inline-block;
  margin-top: auto;
  font-size: 13px;
  color: #b3aeb5;
}

.content-photo img {
  border-radius: 10px;
  ransition-duration:0.5s;
  text-align: center;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.content-movie {
  text-align: center;
  height: auto;
  object-fit: cover;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.clear {
  clear: left;
}

footer p {
  color: #ffffff; /*#b3aeb5*/
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #000000;
  text-align: center;
}

@media all and (max-width: 1000px) {
  .content {
    width: 50%;
    margin-bottom: 50px;
  }

  .content-wrapper {
    height: auto;
  }

}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .content-wrapper {
  height: auto;
  }

}

@media all and (max-width: 670px) {

 .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .clear {
    clear:left;
  }

  .content-wrapper {
    height: auto;
  }

  .content {
    width: 100%;
  }

}
